<canvas id="cars" style="width: 170px; height:720px ; border:1px solid grey;"></canvas>
<input type="button" value="Update1" class="btn btn-primary" {{action 'updateCars'}}/>
<div id="cars" style="width: 100%; height: 37em; border:1px solid grey;">
  {{#each cars as |car|}}
    <div>
      {{car.isUserCar}}
      {{car.patch}}
      {{car.lane}}
      {{car.speed}}
    </div>
  {{/each}}
</div>

<div>
  {{overtakenCars}}
</div>

