{{#if userInputData}}
    <div class="top-buffer col-sm-10">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-2 col-sm-offset-2 control-label custom-form-label">Nick Name</label>
                {{input value=userNick}}
            </div>
            <div class="form-group">
                <label class="col-md-2 col-sm-offset-2 control-label custom-form-label">E-mail</label>
                {{input value=userEmail}}
            </div>
            <div class="col-sm-offset-3 col-sm-10">
                <button class="btn btn-sm btn-primary col-sm-offset-1" {{action 'cancelSubmit'}}>Cancel</button>
                <button class="btn btn-sm btn-primary col-sm-offset-1" {{action 'submitData'}}>Submit</button>
            </div>
        </form>
    </div>
{{else}}
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: end">
        <input type="button" value="Submit model to competition" class="btn btn-primary" {{action 'showForm'}}>
    </div>
{{/if}}
