<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            {{car-animation}}
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h2>Deep traffic</h2>
            <div>
                {{monaco-editor code=usersCode}}
            </div>
            <div class="row">
                <div class="col-md-3 text-left">
                    <button class="btn btn-sm btn-primary" {{action 'applyCode'}}>Apply code / Reset net</button>
                </div>
                <div class="col-md-3 text-left">
                    <button class="btn btn-sm btn-primary" {{action 'saveCode'}}>Save code / Net to file</button>
                </div>
                <div class="col-md-3 text-left">
                    <button class="btn btn-sm btn-primary" {{action 'loadCode'}}>Load code / Net from file</button>
                </div>
                {{submit-form}}
            </div>
        </div>
    </div>
</div>